#mergeConfirmation, #mergeFailure {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: .6em 1.5em 1.1em;
}

#mergeConfirmation p {
    color: #666;
}

#mergeConfirmation p span, #mergeFailure p span {
    font-weight: bold;
    color: #444;
}

#mergeConfirmation button + a {
    float: right;
    line-height: normal;  // Gets otherwise 1px more height than the button
}

#mergeFailure a.close-modal {
    background: orangered;
}

#mergeConfirmation a.close-modal {
    background: royalblue;
}

#mergeConfirmation a.close-modal, #mergeFailure a.close-modal {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    border: 2px solid #fff;
    -webkit-border-radius:  26px;
    -moz-border-radius:     26px;
    -o-border-radius:       26px;
    -ms-border-radius:      26px;
    border-radius:          26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}
